.title {
    text-align: center;
    background-color: #ef9a9a;
    font-family: 'Clicker Script', cursive;
    font-size: 60px;
    border-radius: 15px;
}

input {
    width: 70%;
    height: 36px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 10%;
}

.listsTitle {
    font-family: 'Clicker Script', cursive;
    text-align: center;
    font-size: 35px;
    background-color: #ffcdd2;
}

.guest-list {
    font-family: 'Baloo Bhai 2', cursive, bold;
    font-size: 25px;
}

.MuiPaper-root.MuiCard-root.MuiPaper-outlined.MuiPaper-rounded {
    max-width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffccbc;
    margin-left: 10%;
}

.table-title {
    text-align: center;
    font-family: 'Clicker Script', bold;
    font-size: 35px;
    color: black;
}

.onetable {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 18px;
}

.onetable .MuiButtonGroup-root{
width: 100%;
font-family: 'Baloo Bhai 2', cursive;
justify-content: center;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSizeSmall.MuiButton-sizeSmall{
    height: 35px;
    width: fit-content;
    font-size: 15px;
}

span.MuiButton-label{
    font-size: 13px;
}
/* .active-oneTable {
border: 3px solid navy;
} */